<div class="navbar-container">
  <nav>
    <a href="/" class="menu-subheading__logo">Logo</a>
    <ul class="menu-heading">
      <li><a href="/" class="menu-subheading__options"><i class="fa fa-bars" style="font-size:24px"></i></a>
        <ul class="menu-subheading__dropdown">
          <li><a href="/menu" class="menu-subheading__dropdown--menu">Menu</a></li>
          <li><a href="/order" class="menu-subheading__dropdown--order">Order</a></li>
          <li><a href="/contact" class="menu-subheading__dropdown--contact">Contact</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
<div class="submenu-heading">
  <div class="submenu-heading__main">
    <div class="submenu-heading__main--collect">COLLECT from...</div>
    <div class="submenu-heading__main--menu">MENU</div>
    <div class="submenu-heading__main--deals">DEALS
      <i class="fas fa-angle-right"></i>
    </div>
    <div class="submenu-heading__main--basket">
      <i class="fas fa-shopping-basket"></i>
      <span class="basket-amount">$0.00</span>
      <span class="basket-quantity"></span>
    </div>
  </div>
  <div class="submenu-heading__secondary">
    <a href="#pizza-section" class="submenu-heading__main--pizza">Pizza</a>
    <a href="#sides-section" class="submenu-heading__main--sides">Sides</a>
    <a href="#desserts-section" class="submenu-heading__main--desserts">Desserts</a>
    <a href="#drinks-section" class="submenu-heading__main--drinks">Drinks</a>
  </div>
</div>
<picture class="promotions">
  <img src="https://www.dominos.co.uk/blog/wp-content/uploads/2014/09/2fortues.jpg" class="promotion-picture"
    alt="Two for Tuesday Offer">
</picture>
<div class="personalise-menu">
  <div class="personalise-menu__div">
    <div class="personalise-menu-own">Create Your Own
      <i class="fas fa-angle-right"></i>
    </div>
    <div class="personalise-menu-half">Half and Half
      <i class="fas fa-angle-right"></i>
    </div>
  </div>
  <div class="pizza-legend">
    <img class="pizza-legend__img" src="https://www.pizzalegends.co.uk/assets/2000392/thumb.png" alt="">
    <form action="" class="pizza-legend__form">
      <input type="text" class="pizza-legend__id" value="ENTER YOUR ID"></input>
      <input type="submit" class="pizza-legend__submit" value="GET IT"></input>
    </form>
  </div>
</div>
<!-- Min width 768px  -->
<div class="section-wrapper ipad">
  <i class="fab fa-affiliatetheme first"></i>
  <hr>
  <h2 class="section-wrapper__header">YOUR PIZZA, YOUR WAY</h2>
  <hr>
  <i class="fab fa-affiliatetheme second"></i>
</div>
<div class="section-wrapper__items">
  <div class="personalise-menu ipad">
    <p class="personalise-menu description-own">CHOOSE FROM <br>A SELECTION <br>OF DELICIOUS TOPPINGS <br>TO CREATE YOUR
      OWN
      PIZZA</p>
    <div class="personalise-menu footer own">
      <span class="personalise-menu price">From 5.99</span>
      <span class="personalise-menu clickable">CHOOSE</span>
    </div>
  </div>
  <div class="personalise-menu ipad">
    <p class="personalise-menu description-half legend"><br>HAVE A <br>PIZZA LEGEND ID?<br> ENTER IT BELOW</p>
    <div class="personalise-menu footer half legend">
      <form action="" class="pizza-legend__form ipad">
        <input type="text" class="pizza-legend__id ipad" value="ENTER YOUR ID"></input>
        <input type="submit" class="pizza-legend__submit ipad" value="GET IT"></input>
      </form>
    </div>
  </div>
  <div class="personalise-menu ipad">
    <p class="personalise-menu description-half">TORN BETWEEN<br> TWO PIZZAS?<br> WHY NOT HAVE BOTH OF THEM? <br>TWO
      SIDES ON ONE BASE
      PIZZA</p>
    <div class="personalise-menu footer half">
      <span class="personalise-menu price">From 10.99</span>
      <span class="personalise-menu clickable">CHOOSE</span>
    </div>
  </div>
</div>
<div class="section-wrapper ipad specialty">
  <i class="fab fa-affiliatetheme first"></i>
  <hr>
  <h2 class="section-wrapper__header" id="pizza-section">SPECIALTY PIZZAS</h2>
  <hr>
  <i class="fab fa-affiliatetheme second"></i>
</div>
<!-- end of min width -->
<div class="symbol-section ipad">
  <div class="symbol-section__veggie">
    <p class="symbol-section__icon-veggie">V</p>
    <p class="symbol-section__text">Vegetarian <i class="fas fa-info fa-xs my-info-icon"></i></p>
  </div>
  <div class="symbol-section__gluten">
    <p class="symbol-section__icon-gluten">G</p>
    <p class="symbol-section__text">Gluten Free <i class="fas fa-info fa-xs my-info-icon"></i></p>
  </div>
  <div class="symbol-section__hot">
    <p class="symbol-section__icon-hot">H</p>
    <p class="symbol-section__text hot-spicy">Hot & Spicy</p>
  </div>
</div>
<div class="menu">
  {{#each pizzaCat}}
  <article class="menu-item">
    <div class="menu-item__image">
      <i class="fas fa-info fa-sm my-pizza-icon"></i>
    </div>
    <div class="menu-item__name" id="item__name">{{name}}</div>
    <div class="menu-item__size">
      <select class="menu-item__selectbox">
        <option value="personal">Personal 7" £7.99</option>
        <option value="small">Small 9.5" £10.99</option>
        <option value="medium">Medium 11.5" £14.99</option>
        <option value="large">Large 13.5" £17.99</option>
      </select>
      <i class="fas fa-caret-down"></i>
    </div>
    <div class="menu-item__ipad">
      <div class="menu-item__customise ipad">CUSTOMISE</div>
      <div>
        <button class="menu-item__add ipad" name={{name}}>ADD TO BASKET</button>
      </div>
    </div>
  </article>
  {{/each}}
  <div class="horizontal-line"></div>
</div>
<!-- SIDE SECTION -->
<div class="section-wrapper ipad">
  <i class="fab fa-affiliatetheme first"></i>
  <hr>
  <h2 class="section-wrapper__header" id="sides-section">SIDES</h2>
  <hr>
  <i class="fab fa-affiliatetheme second"></i>
</div>
<div class="symbol-section ipad">
  <div class="symbol-section__veggie">
    <p class="symbol-section__icon-veggie">V</p>
    <p class="symbol-section__text">Vegetarian <i class="fas fa-info fa-xs my-info-icon"></i></p>
  </div>
  <div class="symbol-section__gluten">
    <p class="symbol-section__icon-gluten">G</p>
    <p class="symbol-section__text">Gluten Free <i class="fas fa-info fa-xs my-info-icon"></i></p>
  </div>
  <div class="symbol-section__hot">
    <p class="symbol-section__icon-hot">H</p>
    <p class="symbol-section__text hot-spicy">Hot & Spicy</p>
  </div>
</div>
<div class="menu">
  {{#each sidesCat}}
  <article class="menu-item">
    <div class="menu-item__image dippers">
      <i class="fas fa-info fa-sm my-pizza-icon"></i>
    </div>
    <div class="menu-item__name sides">{{name}}</div>
    <div class="menu-item__size sides">
      <span class="menu-item__price sides">£ {{price}}</span>
      <select class="menu-item__selectbox sides">
        <option value="one">1</option>
        <option value="two">2</option>
        <option value="three">3</option>
        <option value="four">4</option>
      </select>
    </div>

    <div>
      <button class="menu-item__add ipad" name={{name}}>ADD TO BASKET</button>
    </div>
  </article>
  {{/each}}
  <div class="horizontal-line"></div>
</div>
<!-- DESSERT SECTION -->
<div class="section-wrapper ipad">
  <i class="fab fa-affiliatetheme first"></i>
  <hr>
  <h2 class="section-wrapper__header" id="desserts-section">DESSERTS</h2>
  <hr>
  <i class="fab fa-affiliatetheme second"></i>
</div>
<div class="symbol-section ipad">
  <div class="symbol-section__veggie">
    <p class="symbol-section__icon-veggie">V</p>
    <p class="symbol-section__text">Vegetarian <i class="fas fa-info fa-xs my-info-icon"></i></p>
  </div>
  <div class="symbol-section__gluten">
    <p class="symbol-section__icon-gluten">G</p>
    <p class="symbol-section__text">Gluten Free <i class="fas fa-info fa-xs my-info-icon"></i></p>
  </div>
  <div class="symbol-section__hot">
    <p class="symbol-section__icon-hot">H</p>
    <p class="symbol-section__text hot-spicy">Hot & Spicy</p>
  </div>
</div>
<div class="menu">
  {{#each dessertsCat}}
  <article class="menu-item">
    <div class="menu-item__image cookies">
      <i class="fas fa-info fa-sm my-pizza-icon"></i>
    </div>
    <div class="menu-item__name sides">{{name}}</div>
    <div class="menu-item__size sides">
      <span class="menu-item__price sides">£ {{price}}</span>
      <select class="menu-item__selectbox sides">
        <option value="one">1</option>
        <option value="two">2</option>
        <option value="three">3</option>
        <option value="four">4</option>
      </select>
    </div>
    <div>
      <button class="menu-item__add ipad" name={{name}}>ADD TO BASKET</button>
    </div>
  </article>
  {{/each}}
  <div class="horizontal-line"></div>
</div>
<!-- DRINKS SECTION -->
<div class="section-wrapper ipad">
  <i class="fab fa-affiliatetheme first"></i>
  <hr>
  <h2 class="section-wrapper__header" id="drinks-section">DRINKS</h2>
  <hr>
  <i class="fab fa-affiliatetheme second"></i>
</div>
<div class="symbol-section ipad">
  <div class="symbol-section__veggie">
    <p class="symbol-section__icon-veggie">V</p>
    <p class="symbol-section__text">Vegetarian <i class="fas fa-info fa-xs my-info-icon"></i></p>
  </div>
  <div class="symbol-section__gluten">
    <p class="symbol-section__icon-gluten">G</p>
    <p class="symbol-section__text">Gluten Free <i class="fas fa-info fa-xs my-info-icon"></i></p>
  </div>
  <div class="symbol-section__hot">
    <p class="symbol-section__icon-hot">H</p>
    <p class="symbol-section__text hot-spicy">Hot & Spicy</p>
  </div>
</div>
<div class="menu">
  {{#each drinksCat}}
  <article class="menu-item">
    <div class="menu-item__image water">
      <i class="fas fa-info fa-sm my-pizza-icon"></i>
    </div>
    <div class="menu-item__name sides">{{name}}</div>
    <div class="menu-item__size sides">
      <span class="menu-item__price sides">£{{price}}</span>
      <select class="menu-item__selectbox sides">
        <option value="one">1</option>
        <option value="two">2</option>
        <option value="three">3</option>
        <option value="four">4</option>
      </select>
    </div>
    <div>
      <button class="menu-item__add ipad" name={{name}}>ADD TO BASKET</button>
    </div>
  </article>
  {{/each}}
  <div class="horizontal-line"></div>
</div>
<footer class="footer-wrapper">
  <h4 class="footer-section about">About this App<i class="fas fa-angle-down arrow"></i></h4>
  <h4 class="footer-section corporate">Corporate<i class="fas fa-angle-down arrow"></i></h4>
  <h4 class="footer-section follow">Follow Us<i class="fas fa-angle-down arrow"></i></h4>
  <div class="footer-section__links">
    <p>Stores near me</p>
    <p>Terms of Use</p>
    <p>Terms and Conditions</p>
    <p>Privacy Policy</p>
    <p>Marketing Preferences</p>
    <p>Cookie Policy</p>
    <p>Boring Legal Stuff</p>
  </div>
  <p class="footer-section__copyright">2020 Pizza App Rights</p>
</footer>